.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}
.product-item {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.tech {
  background-color: #a1c6e1;
  border-left: 6px solid #2196f3;
  font-style: italic;
}

.audio {
  background-color: #fff3e0;
  border-left: 6px solid #ff9800;
  font-weight: bold;
}

.stationery {
  background-color: #f3e5f5;
  border-left: 6px solid #ab47bc;
  font-family: 'Courier New', monospace;
}
